.row {
      margin-top: 10px;
    }
    
    header,
    footer {
      background-color: #000000;
      color: #C6EEEB;
    }
    
    body {
      background-color: #f5f5f5;
    }
    

    html,body {
    height:100%;
    background: url(./book.jpg) ;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
      
    }

    #findLabel {
      font-size: large;
    }

    #mainRow {
      margin-top: 44em;
      width: 100em;
      background: #FFFD33;
    }
    
    #mainRowClick{
      margin-top: 85px;
      transition-property: margin-top,width,background;
      transition-duration: 3s;
      background: #fff;
    }
      .footer 
      {
      position: relative;
      margin-bottom: -150px; /* negative value of footer height */
      height: 150px;
      clear:both;
      padding-top:20px;
      color:#fff;
      } 

    main {
      background-color: white;
    }
    
    h2 {
      margin-bottom: 15pt;
    }
    
    footer {
      padding: 10pt;
    }
    
    footer a {
      color: white;
      font-weight: bold;
    }
    
    .btn-file {
      position: relative;
      overflow: hidden;
    }
    
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 1;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
    
    .btn-blue {
      font-weight: bold;
      color: #44BDB5;
      background-color: white;
      border-color: #44BDB5;
      border-radius: 0px;
    }
    
    .btn-blue:focus,
    .btn-blue.focus {
      color: #44BDB5;
      background-color: white;
    }
    
    .btn-blue:hover {
      color: white;
      background-color: #44BDB5;
    }
    
    .btn-blue:active,
    .btn-blue.active,
    .open > .dropdown-toggle.btn-blue {
      color: #44BDB5;
      background-color: white;
      border-color: #44BDB5;
    }